*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    font-family: "Secular One";
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

.index-header {
    width: 100%;
}

.index-nav-links {

}

.index-nav-links ul {
    text-align: center;
}

.index-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.index-nav-links ul li a {
    text-decoration: none;
    color: black;
}

.index-header ul li a:hover {
    text-decoration: underline;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.york-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("https://content.r9cdn.net/rimg/dimg/ac/cb/44365eb3-city-14673-1779551dd75.jpg?crop=true&width=1020&height=498");   
    width: 100%;
    margin: auto;
    padding: 100px 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.york-image h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}

.york-image p {
    text-align: center;
    color: white;   
    margin: 0;
}

.content {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #DCDCDC;
}

.bistros, 
.bars {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bistros-title,
.bars-title {
    text-align: center;
    font-size: 30px;
}

.pub-image{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2px;
}

.pub-title a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.pub-title a:hover{
    text-decoration: underline;
    transition-duration: 0,5s;
}

.view-all-pubs {
    color: black;
    margin: 20px auto;
}

.view-all-pubs:hover{
    color: grey;
    transition-duration: 0.4s;
}

#about-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.about-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("https://cdn2.hometogo.net/assets/media/pics/1200_628/61186ed159b0d.jpg");   
    width: 100%;
    margin: auto;
    padding: 100px 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-image h1 {
    text-align: center;
    justify-content: flex-start;
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}

.about-image p {
    text-align: center;
    color: white;   
    margin: 0;
    line-height: 40px;
    font-size: 18px;
}

.bottom-note {
    position:absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
}

/* Top 10 page */

.top-10-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.intro-image{
    background-image: linear-gradient(rgba(255, 232, 163, 0.7), rgba(0, 0, 0, 0.7)),url("https://ca1-york.dccdn.net/miscellaneous/Intro-Panel-Section/_1200x630_crop_center-center_82_none/download-43.jpg?v=1623752212");   
    width: 100%;
    margin: auto;
    padding: 100px 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-image h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

.intro-image p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.top-10-content-peach {
    padding: 50px 25px;
    display: block;
    width: 100%;
    background-color: peachpuff;
}


.number-1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.number-1-text{
    text-align: center;
}

.top-10-content-white {
    padding: 0 25px;
    display: block;
    width: 100%;
    background-color: white;
}

.eagle-and-child{
    width: 100%;
}

.number-2-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.number-2-text{
    text-align: center;
}

.minster-image{
    width: 100%;
}



@media screen and (min-width: 550px){
    body{

    }
    .pubs-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pub {
        width: 48.5%;
    }
}

@media screen and (min-width: 620px){
    body{

    }
}

@media screen and (min-width: 768px){
    body{

    }
}

@media screen and (min-width: 900px){
    body{

    }
}

@media screen and (min-width: 1024px){
    body{

    }
}

@media screen and (min-width: 1200px){
    body{
    }
    .content {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 40px;
    }
    .bars,
    .bistros {
        width: 48.5%;
    }
}

@media screen and (min-width: 1600px){
    body{

    }
}